.item{
<<<<<<< HEAD
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    width: 40rem;
    height:30rem;
    background-color: rgb(31, 83, 83);
}
img{
    max-width: 70%;
    height: 60%;
}
.verde{
    background-color: green;
=======
    width: 20rem;
    height:20rem;
    background-color: rgb(248, 185, 216);
    margin: 10px;
    text-align: center;
    color: rgb(247, 247, 247);
    font-family: sans-serif;
    border-radius: 40px;
}


.item-h1 {
    font-size: 20px;
}

.item-img {
    width: 100px;
    height: 100px;
    align-self: center;
}

.item-desc{
    font-size: 0.9rem;
    color: black;
>>>>>>> 7621b1d8a9810938aa7225620d67ecdb2449f7ae
}